
.report {
	position: relative;
    left: 390px;
    padding-bottom: 50px;
}

.generate {
    position: relative;
    left: 0px;
	padding-top: 50px
}

.generate button {
    width: 100px;
    height: 50px;
    border: none;
    cursor: pointer;
}

#tab {
	border: 0px;
	position: relative;
    left: 360px;
}
